* {
  padding: 0px;
  margin: 0px;
}

/* Style the body with grid
to give the entire page a structure 
such that there is 3 rows and one column.
*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.header {
  position: relative;
  margin: auto;
}

.bg-style {
  position: absolute;
  background: linear-gradient(90deg, #1A68A3, #3FA4CC, #1A68A3);
  width: 100%;
  height: 100%;
  transform: skewY(-10deg);
  z-index: -1;
  top: 0;
  left: 0;
  transform-origin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25em;
}

.wrapper > img {
  min-width: 15%;
  max-width: 25%;
  box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.6);
}

.about {
  padding: 1.25em 0.5em;
  max-width: 50%;
  min-height: 50%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  font-size: 2em;
  font-family: monospace;
  font-weight: 600;
  box-shadow: 10px 5px 5px 10px rgba(0, 0, 0, 0.6);
  background-color: whitesmoke;
}

.about-links {
  display: flex;
  align-self: end;
  min-width: 10%;
  cursor: pointer;
}

.main-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.75rem;
}

.heh {
  font-size: 2.5rem;
  text-decoration: underline;
  font-family: monospace;
  margin-bottom: 0.5em;
}

.manhwa {
  box-shadow: 2px 0px 10px 5px rgba(0, 0, 0, 0.6);
}

.manhwa > img {
  max-width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 1.2rem;
  font-size: 1.8rem;
  font-family: monospace;
  font-weight: 600;
  padding: 1rem .5rem;
}

.content-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-links {
  display: flex;
  min-width: 20%;
  cursor: pointer;
}

.footer {
  min-width: 100vw;
  background: linear-gradient(140deg, #3551AC, #E8843F, #182138);
}

.footer-wrapper {
  display: grid;
  grid-template-columns: minmax(300px, 100%) fit-content(350px);
  padding: 3em;
  font-size: 2em;
  font-family: monospace;
  font-weight: 600;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.footer-wrapper > img {
  max-width: 100%;
}

.footer-links {
  display: flex;
  max-width: 15%;
  cursor: pointer;
}

/* Media Queries Start From Here */

@media screen and (1281px <= width <= 1850px) {
  .about {
    font-size: 1.25em;
    min-height: 25%;
    max-height: 50%;
  }

  .footer-wrapper {
    padding: 1.25em;
    display: grid;
    grid-template-columns: minmax(200px, 100%) fit-content(300px);
  }

  .footer-wrapper > img {
    max-width: 100%;
  }
}

@media screen and (480px <= width <= 1280px) {
  /* Idk how to make the image float to the left of the div and also make the
  * text adjust */
  .about {
    font-size: 1.1em;
    min-height: 10%;
    max-height: 25%;
  } 
  
  .footer-wrapper {
    padding: 1.25em;
    display: grid;
    grid-template-columns: minmax(100px, 100%) fit-content(250px);
    font-size: 1.25em;
  }
}

@media screen and (0px <= width <= 480px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    box-shadow: none;
  }
  
  .wrapper > img {
    max-width: 100%;
    box-shadow: none;
  }

  .about {
    max-width: 100%;
    font-size: 1.7em;
    font-weight: 800;
    box-shadow: none;
  }
  
  .about-links {
    min-width: 25%;
  }
  
  .footer-wrapper {
    display: grid;
    grid-template: .5fr fit-content(200px) / 1fr;
    row-gap: 1.25em;
  }
}
