* {
  padding: 0px;
  margin: 0px;
}

/* Style the body with grid
to give the entire page a structure 
such that there is 3 rows and one column.
*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 1.25rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper > img {
  min-width: 15%;
  max-width: 25%;
  box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.6);
}

.about {
  padding: 1.25em 0.5em;
  max-width: 50%;
  min-height: 50%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  font-size: 2em;
  font-family: monospace;
  font-weight: 600;
  box-shadow: 10px 5px 5px 10px rgba(0, 0, 0, 0.6);
}

.about-links {
  display: flex;
  align-self: end;
  min-width: 10%;
}

.main-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.75rem;
}

.heh {
  font-size: 2.5rem;
  text-decoration: underline;
  font-family: monospace;
  margin-bottom: 0.5em;
}

.manhwa {
  box-shadow: 2px 0px 10px 5px rgba(0, 0, 0, 0.6);
}

.manhwa > img {
  max-width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 1.2rem;
  font-size: 1.8rem;
  font-family: monospace;
  font-weight: 600;
  padding: 1rem .5rem;
}

.content-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-links {
  display: flex;
  min-width: 20%;
}
